<% matsHeight = bands.map(b => b.sups.length).reduce((a,b) => a+b, 0) * 20 + 100 %>
<table height="<%= Math.max(700, matsHeight) %>">
  <tbody>
    <tr>
      <td valign="top" width="200">
      <table>
        <tr>
          <td class="nav" width="200" valign="top">
          <% Object.keys(zones).forEach(z => { %>
            <div><a href="?zone=<%= z %>"><%= zones[z] %></a></div>
            <br/>
          <% }) %>
          </td>
        </tr>
        <tr>
          <td>
            <br/><br/><br/>
            <table width="80%">
            <tr><th>Weather</th></tr>
            <tr><td bgcolor="<%= getWeatherColor('worst') %>">Worst (83% &uarr;)</td></tr>
            <tr><td bgcolor="<%= getWeatherColor('bad') %>">Bad (50-83%)</td></tr>
            <tr><td bgcolor="<%= getWeatherColor('good') %>">Good (16-50%)</td></tr>
            <tr><td bgcolor="<%= getWeatherColor('best') %>">Best (16% &darr;)</td></tr>
            </table>
          </td>
        </tr>
      </table>
      </td>
      <td width="150" height="700" valign="top">
        <table>
        <tr>
          <th><%= weather[0].ryzomTime.prettyHour() %></th>
          <th><%= weather[0].ryzomTime.time %></th>
        </tr>
        <tr>
          <th>Time</th>
          <th>Humidity</th>
        </tr>
        <% weather.forEach(w => { %>
          <tr bgcolor="<%= getWeatherColor(w.weatherClass) %>">
            <td><%= w.ryzomTime.prettyHour() %></td>
            <td><%= w.humidity %></td>
          </tr>
        <% }) %>
        </table>
      </td>
      <td valign="top">
        <% if(zone) { %>
          <h2><%= zones[zone] %> Materials - <%= seasons[weather[0].ryzomTime.season] %></h2>
          <table>
            <thead>
              <tr>
                <th width="25"></th>
                <th>Material</th>
                <th>Sup</th>
              </tr>
            </thead>
            <tbody>
              <% bands.forEach(band => { %>
                <% band.sups.forEach(mat => { %>
                  <tr>
                    <td>
                      <img src="/images/<%= mat.type.toLowerCase().replace(' ', '_') %>.png" alt="<%= mat.type %>" width="20" height="20"/>
                    </td>
                    <td>
                      <%= mat.type %> - <%= mat.name %>
                    </td>
                    <td bgcolor="<%= getWeatherColor(band.weather.weatherClass) %>">
                      <%= band.weather.ryzomTime.prettyHour() %>
                      -
                      <%= band.endTime && band.endTime.prettyHour() %>
                    </td>
                  </tr>
                <% }) %>
              <% }) %>
            </tbody>
          </table>
        <% } %>
      </td>
    </tr>
  </tbody>
</table>
