<html>
<head>
<title>Supremes</title>
<link rel="stylesheet" href="http://api.ryzom.com/data/css/ryzom_ui.css" />
<link rel="stylesheet" href="/css/index.css" />
</head>
<body>
<div id="main">
<div class="ryzom-ui ryzom-ui-header">
  <div class="ryzom-ui-tl">
    <div class="ryzom-ui-tr">
      <div class="ryzom-ui-t">
        Supremes
      </div>
    </div>
  </div>

  <div class="ryzom-ui-l">
    <div class="ryzom-ui-r">
      <div class="ryzom-ui-m">
        <div class="ryzom-ui-body">
          <table>
            <tbody>
              <tr>
                <td class="nav">
                <% Object.keys(zones).forEach(z => { %>
                  <a href="?zone=<%= z %>"><%= zones[z] %></a>
                <% }) %>
                </td>
                <td rowspan="2">
                  <ol>
                  <li><span class="hour">Time</span> Humidity</li>
                  <% weather.forEach(w => { %>
                    <li class="<%= w.weatherClass %>"><span class="hour"><%= w.ryzomTime.prettyHour() %></span> <%= w.humidity %></li>
                  <% }) %>
                  </ol>
                </td>
                <td rowspan="2">
                  <% if(zone) { %>
                    <h2><%= zones[zone] %> Supreme Materials up now (until <span class="<%= nextChange.weatherClass %>"><%= nextChange.ryzomTime.prettyHour() %></span>)</h2>
                    <% if(supremes.length > 0) { %>
                      <ul class="materials">
                      <% supremes.forEach(mat => { %>
                        <li class="<%= mat.type %>"><%= mat.name %> <%= mat.type %></li>
                      <% }) %>
                      </ul>
                    <% } else { %>
                      <div>Nothing up in this weather</div>
                    <% } %>
                  <% } else { %>
                    <h2> Next weather change at <span class="<%= nextChange.weatherClass %>"><%= nextChange.ryzomTime.prettyHour() %></span></h2>
                  <% } %>
                </td>
              </tr>
              <tr>
                <td>
                  <ol>
                    <li>weather</li>
                    <li class="best">Best (83% &uarr;)</li>
                    <li class="good">Good (50-83%)</li>
                    <li class="bad">Bad (16-50%)</li>
                    <li class="worst">Worst (16% &darr;)</li>
                  </ol>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="ryzom-ui-bl">
    <div class="ryzom-ui-br">
      <div class="ryzom-ui-b"></div>
    </div>
  </div>
</div>
</div>
</body>
</html>
