<html>
<head>
<title>PR Bunnies</title>
<link rel="icon" href="/images/PR Bunny.png" />
<link rel="stylesheet" href="http://api.ryzom.com/data/css/ryzom_ui.css" />
<link rel="stylesheet" href="/css/index.css" />
</head>
<body>
<div id="main">
<div class="ryzom-ui ryzom-ui-header">
  <div class="ryzom-ui-tl">
    <div class="ryzom-ui-tr">
      <div class="ryzom-ui-t">
        PR Bunnies
      </div>
    </div>
  </div>

  <div class="ryzom-ui-l">
    <div class="ryzom-ui-r">
      <div class="ryzom-ui-m">
        <div class="ryzom-ui-body">
          <table>
            <tbody>
              <tr>
                <td class="nav" width="200" valign="top">
                <% Object.keys(zones).forEach(z => { %>
                  <div><a href="?zone=<%= z %>"><%= zones[z] %></a></div>
                  <br/>
                <% }) %>
                </td>
                <td rowspan="2" width="150">
                  <table>
                  <tr>
                    <th><%= weather[0].ryzomTime.prettyHour() %></th>
                    <th><%= weather[0].ryzomTime.time %></th>
                  </tr>
                  <tr>
                    <th>Time</th>
                    <th>Humidity</th>
                  </tr>
                  <% weather.forEach(w => { %>
                    <tr>
                      <td><a href="#" style="<%= w.weatherColor %>"><%= w.ryzomTime.prettyHour() %></a></td>
                      <td><a href="$" style="<%= w.weatherColor %>"><%= w.humidity %></a></td>
                    </tr>
                  <% }) %>
                  </table>
                </td>
                <td rowspan="2">
                  <% if(zone) { %>
                    <h2><%= zones[zone] %> Materials - <%= seasons[weather[0].ryzomTime.season] %></h2>
                    <table>
                      <thead>
                        <tr>
                          <th>Material</th>
                          <th>Sup</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% supremes.current.mats.forEach(mat => { %>
                          <tr>
                            <td class="<%= mat.type %>"><%= mat.name %> <%= mat.type %></td>
                            <td><a href="#" style="<%= weather[0].weatherColor %>">Now until <%= supremes.next.weather.ryzomTime.prettyHour() %></td>
                          </tr>
                        <% }) %>
                        <% supremes.next.mats.forEach(mat => { %>
                          <tr>
                            <td class="<%= mat.type %>"><%= mat.name %> <%= mat.type %></td>
                            <td><a href="#" style="<%= supremes.next.weather.weatherColor %>"><%= supremes.next.weather.ryzomTime.prettyHour() %></td>
                          </tr>
                        <% }) %>
                        <% supremes.afterThat.mats.forEach(mat => { %>
                          <tr>
                            <td class="<%= mat.type %>"><%= mat.name %> <%= mat.type %></td>
                            <td><a href="#" style="<%= supremes.afterThat.weather.weatherColor %>"><%= supremes.afterThat.weather.ryzomTime.prettyHour() %></td>
                          </tr>
                        <% }) %>
                        <% supremes.lastOne.mats.forEach(mat => { %>
                          <tr>
                            <td class="<%= mat.type %>"><%= mat.name %> <%= mat.type %></td>
                            <td><a href="#" style="<%= supremes.lastOne.weather.weatherColor %>"><%= supremes.lastOne.weather.ryzomTime.prettyHour() %></td>
                          </tr>
                        <% }) %>
                      </tbody>
                    </table>
                  <% } %>
                </td>
              </tr>
              <tr>
                <td>
                  <div>Weather</div>
                  <div><a href="#" style="color: #FF7500; text-decoration: none;" class="worst">Worst (83% &uarr;)</a></div>
                  <div><a href="#" style="color: #A494E4; text-decoration: none;" class="bad">Bad (50-83%)</a></div>
                  <div><a href="#" style="color: #00CCFF; text-decoration: none;" class="good">Good (16-50%)</a></div>
                  <div><a href="#" style="color: #FF00FF; text-decoration: none;" class="best">Best (16% &darr;)</a></div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="ryzom-ui-bl">
    <div class="ryzom-ui-br">
      <div class="ryzom-ui-b"></div>
    </div>
  </div>
</div>
</div>
</body>
</html>
