<html>
<head>
<title>Supremes</title>
<link rel="stylesheet" href="http://api.ryzom.com/data/css/ryzom_ui.css" />
<link rel="stylesheet" href="/css/index.css" />
</head>
<body>
<div id="main">
<div class="ryzom-ui ryzom-ui-header">
  <div class="ryzom-ui-tl">
    <div class="ryzom-ui-tr">
      <div class="ryzom-ui-t">
        Supremes
      </div>
    </div>
  </div>

  <div class="ryzom-ui-l">
    <div class="ryzom-ui-r">
      <div class="ryzom-ui-m">
        <div class="ryzom-ui-body">
          <table>
            <tbody>
              <tr>
                <td class="nav">
                  <a href="?zone=FD">Forbidden Depths</a>
                  <a href="?zone=LoC">Land of Continuity</a>
                  <a href="?zone=SC">Sunken City</a>
                  <a href="?zone=US">Under Spring</a>
                </td>
                <td>
                  <ol>
                  <% weather.forEach(w => { %>
                    <li class="<%= w.weatherClass %>"><span class="hour"><%= w.ryzomTime.hourOfDay %></span> <%= w.humidity %></li>
                  <% }) %>
                  </ol>
                </td>
                <% if(zone) { %>
                  <td>
                    <h2><%= zone %> Materials</h2>
                    <% if(supremes.length > 0) { %>
                      <ul>
                      <% supremes.forEach(mat => { %>
                        <li><%= mat.name %></li>
                      <% }) %>
                      </ul>
                    <% } else { %>
                      <div>Nothing up in this weather</div>
                    <% } %>
                  </td>
                <% } %>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="ryzom-ui-bl">
    <div class="ryzom-ui-br">
      <div class="ryzom-ui-b"></div>
    </div>
  </div>
</div>
</div>
</body>
</html>
